.home {
  width: 100%;
  background-image: url("../img/city.png");
  min-height: 100vh;
  background-position-x: center;
  background-position-y: bottom;
}

.home__guide__list {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 0;
}

.home__guide__list__anchor {
  margin-left: 25px;
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  background: none;
}

.home__guide__list__anchor.home {
  position: relative;
  color: #0a54df;
  text-decoration: none;
}

.home__guide__list__anchor.home:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: aqua;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.home__guide__list__anchor.home:hover {
  color: #d40f9b;
}

.home__guide__list__anchor.home:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.home__guide__list__anchor.my-services {
  position: relative;
  color: #0a54df;
  text-decoration: none;
}

.home__guide__list__anchor.my-services:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: aqua;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.home__guide__list__anchor.my-services:hover {
  color: #d40f9b;
}

.home__guide__list__anchor.my-services:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.home__guide__list__anchor.skills {
  position: relative;
  color: #0a54df;
  text-decoration: none;
}

.home__guide__list__anchor.skills:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: aqua;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.home__guide__list__anchor.skills:hover {
  color: #d40f9b;
}

.home__guide__list__anchor.skills:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.home__guide__list__anchor.experiences {
  position: relative;
  color: #0a54df;
  text-decoration: none;
}

.home__guide__list__anchor.experiences:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: aqua;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.home__guide__list__anchor.experiences:hover {
  color: #d40f9b;
}

.home__guide__list__anchor.experiences:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.home__guide__list__anchor.contact {
  position: relative;
  color: #0a54df;
  text-decoration: none;
}

.home__guide__list__anchor.contact:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: aqua;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.home__guide__list__anchor.contact:hover {
  color: #d40f9b;
}

.home__guide__list__anchor.contact:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.home__typewriter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: white;
  min-height: 90vh;
}

.home__typewriter__name {
  font-size: 2rem;
  font-family: monospace;
  margin-bottom: 20px;
  color: #0a54df;
  /*&::after{
                content: "|";
                margin-left: 5px;
                opacity: 1;
                animation: blink .7s infinite;

                @keyframes blink {
                    0%,
                    100% {
                        opacity: 1;
                    }
                    50% {
                        opacity: 0;
                    }
                }
            }*/
}

.home__typewriter__function {
  font-size: 1.2rem;
  font-family: monospace;
  color: #d40f9b;
  /*Cursor*/
}

.home__typewriter__function .txt-type > .txt {
  border-right: 0.1rem solid #d40f9b;
  -webkit-animation: blinkTextCursor 500ms steps(40) infinite normal;
          animation: blinkTextCursor 500ms steps(40) infinite normal;
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: #ff00ea;
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: #ff00ea;
  }
  to {
    border-right-color: transparent;
  }
}
/*# sourceMappingURL=header.css.map */