.services{
    background-color: #130945;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Urbanist', sans-serif;
    padding: 80px 50px;

    &__title{
        font-size: 2.5rem;
        margin-bottom: 10px;
        color: #d40f9b;
    }

    &__title-help{
        font-size: 1.5rem;
        margin-bottom: 50px;
        color: #00ffff;
    }

    &__box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        &__card{    
            background-color: #2f2175;
            padding: 50px 0px;
            margin: 5px;
            text-align: center;
            border-radius: 8px;
            width: calc(30% - 20px);
            cursor: pointer;
            border: 2px solid #2f2175;
            transition: all 0.3s ease;

            & i{
                color: #0a54df;
                font-size: 3rem;                
                margin-bottom: 12px;
                transition: all 0.5s ease;
            }
            
            & .card__title{
                color: white;
                font-size: 1.4rem;
                margin-bottom: 12px;
                transition: all 0.5s ease;
            }
            
            & .card__paragraph{
                color: white;
                font-size: 1.1rem;
                transition: all 0.5s ease;
            }

            &:hover{
                background: #a556cb45;
                border: 2px solid #a455ca;

                & i{
                    color: #a455ca;
                    transform: scale(1.05);
                    transition: all 0.3s ease;                
                }

                & .card__title{
                    transform: scale(1.05);
                    transition: all 0.3s ease;
                }
                
                & .card__paragraph{
                    transform: scale(1.05);
                    transition: all 0.3s ease;
                }
            }
        }
    }
}